doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/switch.css')
	body
		.mainContainer
			.navBar
				.logoContainer
					h1 #{product}
				.menuContainer
					a(href="/")
						.menu
			.contentContainer
				.topContentBar
					.topLeftBar
						.icon
						if title
							h2 #{title}
						if home
							h4 #{home.h_address} #{home.h_number}
					.topRightBar
						if previousPage
							.backIcon
							a(href="/#{previousPageUrl}")
								h4 #{previousPage}
				block content

			script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
			script(src='/javascripts/scripts.js')
